.contain{
 
    height: 100px;
   
    display: flex;
    justify-content: space-between;

}
.content{
    color:#101010;
    text-decoration: none;
    
}
 .content:hover{
     color: blue;
     text-emphasis: none;;
 }
